@import '../../styles/_variables';

.section {
  max-width: calc(#{$max-width} - 32px) !important;
  background-color: $white;
  margin-top: -128px;
}

.content_container {
  padding: $spacing-12 0;
  max-width: 700px;
  margin: auto;
}

.content {
  font-family: $font-display;
  border-bottom: 1px solid $color-border-light;
  margin-bottom: $spacing-6;
}

%paragraph {
  font-size: var(--font-size-8);
  margin-bottom: 1.25em;
}

.blurb_big {
  @extend %paragraph;
  font-weight: 500;
}

.blurb {
  @extend %paragraph;
}

.cta {
  max-width: 700px;
  margin: auto;
}

.button_group {
  display: flex;
  justify-content: space-between;

  > * {
    margin-bottom: $spacing-5;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.button_outline {
  display: flex;
  padding: 0 32px;
}

.button_text {
  font-size: $font-size-6;
  font-weight: 500;
  margin-left: 8px;
  letter-spacing: 0.02em;
}

@include media-tablet-portait-down {
  .section {
    margin-top: -88px;
  }

  .content_container {
    padding: $spacing-6 0;
  }

  .button_group {
    flex-direction: column;
  }

  .button_outline {
    width: 100%;
  }
}
