$brown-base: #a25719;
$red-base: #e73704;
$blue-base: #284079;

$color-main-pitchdark: #1b1917;
$color-main-darkest: #2d2822;
$color-main-dark: #3a312a;
$color-main-medium: #736d66;
$color-main-midlight: #8a8278;
$color-main-light: #c5beb6;
$color-main-lightest: #f6f5f3;

$color-border-medium: #736d664e;
$color-border-light: #736d661e;

$white: #fff;
$black: #10161a;

$color-main1: #f7f4f1;
$color-main2: #cebfb2;
$color-main3: #a9a095;
$color-main4: #736d66;
$color-main5: #3a312a;
$color-main6: #2d2822;
$color-main7: #f7eee7;
$color-main8: #f7eee7;
$color-main9: #f7eee7;

$color-text-heading: $color-main-dark;
$color-text-body: $color-main-medium;
$color-text-midlight: $color-main-midlight;
$color-text-muted: $color-main3;
$color-text-light: $color-main-light;
$color-text-lightest: $color-main-lightest;
$color-link: $blue-base;

$color-bg-lightest: $color-main-lightest;
$color-bg-light: #f3efed;
$color-bg-dark: $color-main-darkest;
