@import '../styles/_variables';

.section {
  max-width: $max-width-wide;
  margin: auto;
  margin-bottom: $spacing-7;
  padding: 80px 0;
}

.section_wrapper {
  position: relative;
  max-width: $max-width;
  padding: 0 $gutter;
  margin: 0 auto;
  z-index: 1;
}

.separator {
  margin: 0 $spacing-4;
  margin-top: $spacing-1;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--separator-color);
}

@include media-phone-only {
  .section {
    padding: $spacing-8 0;
    margin-bottom: $spacing-6 px;
  }
}
