@import '../styles/_variables';

.section {
  max-width: $max-width-wide;
  margin: auto;
  margin-bottom: var(--section-margin);
  padding: var(--section-padding) 0;
}

.section_wrapper {
  position: relative;
  max-width: $max-width;
  padding: 0 var(--gutter);
  margin: 0 auto;
  z-index: 1;
}
