@import '../styles/_variables';

$color-input_placeholder: darken($color-main-light, 0%);

%newsletter_form {
  background: transparent;
  height: var(--input-height);
  border: 2px solid currentColor;
  border-radius: 0;
}

.form {
  --input-height: 64px;
  max-width: 500px;
  display: flex;

  * {
    font-family: $font-sans;
  }

  input {
    @extend %newsletter_form;
    font-size: $font-size-7;
    padding-left: 48px;
    padding-right: 16px;
    color: $color-main-lightest;
    width: 400px;
    border-right-width: 1px;

    &::placeholder {
      color: $color-input_placeholder;
    }

    &:focus {
      box-shadow: inset 0 0 2px #c5beb62c, inset 0 0 0 1px $color-main-light,
        0 0 0 3px #c5beb62c;
    }

    &:hover {
      box-shadow: inset 0 0 2px #c5beb62c, inset 0 0 0 1px $color-main-light,
        0 0 0 3px #c5beb62c;
    }
  }
}

.button {
  font-size: $font-size-6;
  color: $color-main-lightest;
  border: 2px solid $color-main-lightest;
  font-weight: $font-semi;
  border-left: 0;

  &:hover {
    background-color: $color-main-lightest;
    color: $blue-base;
  }

  &:active {
    background-color: #c5beb6 !important;
    background-color: $color-main-lightest;
    color: $blue-base;
  }
}

.input_group {
  position: relative;
}

.input_icon {
  position: absolute;
  left: 0;
  top: 50%;
  fill: $color-input_placeholder !important;
  transform: translate(18px, -50%);
}

.toaster.toaster {
  display: flex !important;
  align-items: center !important;
}
