@import '../styles/_variables';

%display {
  line-height: var(--line-height-heading);
  font-family: $font-display;
}

.hero {
  @extend %display;
  font-weight: $font-bold;
  margin-bottom: 0.2em;

  font-size: var(--font-hero);
}

.section_title {
  @extend %display;
  color: $color-text-heading;
  font-weight: $font-medium;

  font-size: var(--font-section-title);
  margin-bottom: 0.25em;
}

.section_super_title {
  font-weight: 500;
  color: $red-base;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 1em;

  font-size: var(--font-size-4);
}

.section_blurb {
  font-size: var(--font-section-blurb);
  line-height: 1.5;
}

@include media-phone-only {
  .hero {
    margin-bottom: 0.45em;
  }

  .section_super_title {
    margin-bottom: 0.5em;
  }
}
