@import '../styles/_variables';

%display {
  line-height: $line-height-heading;
  font-family: $font-display;
}

.hero {
  @extend %display;
  --font-hero: #{$font-hero};
  font-weight: $font-bold;

  font-size: var(--font-hero);
}

.section_title {
  @extend %display;
  --font-section-title: #{$font-section-title};
  color: $color-text-heading;
  font-weight: $font-medium;

  font-size: var(--font-section-title);
  margin-bottom: 0.25em;
}

.section_super_title {
  font-weight: 500;
  color: $red-base;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 1em;

  --font-size: #{$font-size-4};

  font-size: var(--font-size);
}
