@import '../styles/_variables';

%display {
  line-height: $line-height-heading;
  font-family: $font-display;
}

.hero {
  @extend %display;
  --font-hero: #{$font-hero};
  font-weight: $font-bold;
  margin-bottom: 0.2em;

  font-size: var(--font-hero);
}

.section_title {
  @extend %display;
  --font-section-title: #{$font-section-title};
  color: $color-text-heading;
  font-weight: $font-medium;

  font-size: var(--font-section-title);
  margin-bottom: 0.25em;
}

.section_super_title {
  font-weight: 500;
  color: $red-base;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 1em;

  --font-size: #{$font-size-4};

  font-size: var(--font-size);
}

.section_blurb {
  --font-blurb: #{$font-size-7};

  font-size: var(--font-blurb);
  line-height: 1.5;
}

@include media-tablet-portait-only {
  .hero {
    --font-hero: #{$font-size-13};
  }

  .section_title {
    --font-section-title: #{$font-size-11};
  }

  .section_super_title {
    --font-size: #{$font-size-3};
  }
}

@include media-phone-only {
  .hero {
    --font-hero: #{$font-size-11};
    line-height: 1.1;
    margin-bottom: 0.45em;
  }

  .section_title {
    --font-section-title: #{$font-size-9};
  }

  .section_super_title {
    --font-size: #{$font-size-2};
    margin-bottom: 0.5em;
  }

  .section_blurb {
    --font-blurb: #{$font-size-5};
  }
}
