@import '../../styles/_variables';

.section {
  padding: $spacing-12 0;
  box-shadow: inset 0 5px 0 -2px $brown-base;
  margin-bottom: $spacing-5;
}

.profile_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  --avatar-size: 80px;

  max-width: var(--avatar-size);
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: $spacing-6;
}

.profile_content {
  text-align: center;
}

.name {
  font-family: $font-serif;
  font-size: $font-size-8;
  margin-bottom: 0.25em;
  color: $color-text-heading;
}

.title {
  color: $brown-base;
  margin-bottom: 0.35em;
}

.intro_blurb {
  position: relative;
  font-size: $font-size-7;
  font-family: $font-serif;
  max-width: 33em;

  &::after {
    content: '';
    position: absolute;
    display: block;
    background: $color-border-medium;
    height: 100px;
    width: 1px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 130%);
  }
}
