@import '../../styles/_variables';

.section {
  background-color: $color-main-pitchdark;
  margin-bottom: 0;
}

.layout {
  display: flex;
}

.avatar {
  flex: 1;
  transform: scaleX(-1);
}

.heading_container {
  flex: 2;
  text-align: right;
}

.super_title {
  color: $color-main-light;
}

.section_title {
  color: $color-text-lightest;
}

.link {
  justify-content: flex-end;
}

@include media-tablet-portait-down {
  .layout {
    flex-direction: column-reverse;
    align-items: center;
  }

  .avatar {
    max-width: 300px;
    margin-top: $spacing-6;
  }

  .section_title_br {
    display: none;
  }
}

@include media-tablet-landscape-up {
  .section_title {
    margin-bottom: 1.5em;
  }
}
