@import '../../styles/_variables';

.section {
  margin-top: 32px;
  padding: 80px 0;
  background-color: #1b1917;
}

.layout {
  display: flex;
}

.avatar {
  flex: 1;
  transform: scaleX(-1);
}

.heading_container {
  flex: 2;
  text-align: right;
}

.super_title {
  color: $color-main-light;
}

.section_title {
  color: $color-text-lightest;
  margin-bottom: 1.5em;
}

.link {
  justify-content: flex-end;
}
